* {
margin:0;
font-family:Tahoma, sans-serif;
font-weight:lighter;
padding:0px;
}

* a {
    text-decoration:none;
    color:gray;
}

a:hover {
    color:#33a1ff;
}

.promotion {
    background-color:#fa6938;
    padding:5px;
}

/* free shipping button */
.promotion .title {
    text-transform:uppercase;
    float:left;
    background:darkslategray;
    opacity:.5;
    border-radius:3px;
    padding:.5px 8px .5px 8px;
    margin-left:15%;
    letter-spacing:1px; 
    font-weight:lighter; 
    color:#FFF;  
}

.money li {
    display:inline-block;
    font-size:.8em;
}

.promotion a {
    text-decoration:none;
    color:white;
}

.promotion:hover {
    background-color:#33a1ff;
    color:white;
}

/*navigation bar */
.navigation{
    display:block;
    border-bottom:2px dashed gray;
    /*border:1px solid black;*/
}

.navigation > * {
    display: inline-block;
}

.logo {
    height: 117px;
    margin-left:5%;
}

.annoying {
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    width:35%;
    margin-bottom:10px;
}

/* Form */
form a {

}

input {
    border:1px solid grey;
    background-color:white;
    border-radius:2px;
}

#search {
    background-color:lightgray;
    border-radius:2px;
    padding:2px;
}
/* footer will go here */
/*#x p {
    text-align:center;
    color:gray;
}*/

.weekly {
    display:flex;
    justify-content:space-between;
    width:75%;
    margin-top:5%;
    margin-left:170px;
}

#weekly img {
    height:155px;
    border-radius:3px;
}

#weekly img:hover {
    border:2px solid darkslategray;
}

#guide img {
    height:155px;
    border-radius:3px;
}

#guide img:hover {
    border:2px solid darkslategray;
}

#loop p {
    /*margin-right:450px;*/
    font-size:.9em;
}

#email {
    /*background-color:lightgray;*/
    border-radius:2px;
    padding:2px;
}

#sub {
    border:1px solid grey;
    background-color:#33a1ff;
    border-radius:2px; 
    color:white;
    padding: 3px 5px 3px 5px;
    text-transform:uppercase;
}