.container {
    background-color:#fa6938;
     color:#FFF;
    display:block
    box-sizing: border-box;
    padding:1px;
    margin:-8px;
}

ul li {
    display:inline-block;
}

#free {
    border:1px solid white;
    border-radius:5px;
}

a {
    text-decoration:none;
    color:white;
}

/*a:hover {
    color:#33a1ff''
}*/